@import '../../variables';
@import '../../mixin';

filter-popup {
  height: 100%;
  width: 100%;
  background: $popup-background;
}

.filter-wrapper {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: $trip-primary;
  padding-top: 25px;
  display: flex;
  // flex-direction: column;
  // align-items: center;
  justify-content: center;
}

.filter-popup-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  ion-icon {
    font-size: 38px;
    font-weight: 600;
    color: #fff;
  }
}

.filter-item-wrapper {
  flex: 1;
  // margin-top: 20px;
  // margin: 0 20px;
  text-align: center;
  &:first-child {
    // margin-top: 70px;
  }
}

// .filter-item {
//   @include font(16px, $trip-primary-soft, 700);
//   display: inline-block;
//   text-align: center;
//   padding: 5px 0;
//   // border-bottom: solid 2px $popup-background;
//   border-bottom: solid 3px $popup-background;
//   cursor: pointer;
// }
//
// .filter-item.active {
//   color: #ffffff;
//   // border-bottom: solid 2px $trip-primary-soft;
//   border-bottom: solid 3px #fff;
// }
