<!-- Generated template for the FilterPopupComponent component -->
<div class="filter-wrapper">
  <div class="filter-item-wrapper">
    <span
      class="filter-item"
      (click)="changeFilter(filterService.FILTER_ITEM.ALL)"
      [ngClass]="{'active':filterService.activeFilters[listService.getActiveList().index] === filterService.FILTER_ITEM.ALL}">ALL
    </span>
  </div>
  <div class="filter-item-wrapper">
    <span
      class="filter-item"
      (click)="changeFilter(filterService.FILTER_ITEM.FAVORITES)"
      [ngClass]="{'active':filterService.activeFilters[listService.getActiveList().index] === filterService.FILTER_ITEM.FAVORITES}">Favorites
    </span>
  </div>
  <div class="filter-popup-close-button" (click)="closePopup()">
    <ion-icon name="close"></ion-icon>
  </div>
</div>
