<!-- Generated template for the MediaPopupComponent component -->
<div>
  <img [attr.src]="url" alt="media-image">
  <button class="popup-close-button" (click)="close.emit()">
    <ion-icon name="close"></ion-icon>
  </button>
</div>
