@import '../../variables';
@import '../../mixin';

$popup-close-button-opacity: 0.8;
$popup-close-button-height: 35px;

media-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(256, 256, 256, 0.98);
  text-align: center;
  z-index: $z-expand-image;
  img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.popup-close-button {
  @include font(18px, $trip-primary, 600);
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  height: 50px;
  width: 50px;
  padding: 7px;
  background: rgba(256, 256, 256, $popup-close-button-opacity);
  border-radius: 50%;
  cursor: pointer;
  ion-icon {
    font-size: 38px;
    font-weight: 600;
  }
}
