@import '../../variables';
@import '../../mixin';

tripper-header {
  background: #ffffff;
  height: 60px;
  width: 100%;
  z-index: $z-header;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.header-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 33px;
  padding-left: 15px;
}

.tab-title {
  margin-right: 15px;
  p {
    @include font(14px, $gray-3-5, bold)
    cursor: pointer;
  }
  p.active {
    @include font(14px, $trip-primary, bold)
  }
}
