<!-- Generated template for the TripperHeaderComponent component -->
<div class="header-wrapper">
  <div class="tab-title" *ngFor="let list of myLists">
    <p [class.active]="activeList && list.name === activeList.name" (click)="changeActiveList(list)">{{list.name}}</p>
  </div>
</div>
