@import '../../variables';

page-timeline {
  background: #ffffff;
}

tripper-header {
  position: fixed;
  top: 0;
  left: 0;
}

.timeline-contents {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: $z-timeline;
}

ion-slide {
  height: 100%;
  width: 100%;
}

.loading-icon {
  margin: 50px auto;
  border: 5px solid #ffffff;
  // border-top: 5px solid $trip-primary;
  border-top: 5px solid rgba(255, 177, 52, 0.98);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.next-tweet-loading {
  margin-top: -45px;
  .next-tweet-loading-icon {
    margin: 15px auto 12px;
    border: 4px solid #ffffff;
    border-top: 4px solid rgba(255, 177, 52, 0.98);
    // border-top: 4px solid $trip-primary;
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
}
.getting-next-now {
  margin-top: 0;
  .loading-icon-spin {
    animation: spin 0.8s linear infinite;
  }
}
.not-found-tweet-msg {
  p {
    @include font(14px, $black-1, 500);
    text-align: center;
    margin-top: 30px;
  }
}


.filter-popup {
  display: flex;
  position: absolute;
  bottom: -150px;
  height: 150px;
  width: 100%;
  padding-top: 30px;
  background: rgba(255, 160, 9, 0.95);
  // background: $trip-primary;
  // background: $popup-background;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
  z-index: $z-filter-popup;
  transition: all 300ms 0s ease;
}
.filter-popup-active {
  bottom: 0;
}
.filter-popup-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  ion-icon {
    font-size: 38px;
    font-weight: 600;
    color: #fff;
  }
}
.filter-item {
  flex: 1;
  text-align: center;
  span {
    @include font(14px, $trip-primary-soft, 700);
    display: inline-block;
    padding: 5px 13px;
    text-align: center;
    // border: solid 1px $trip-primary;
  }
}
.filter-item.active {
  span {
    @include font(14px, #fff, 700);
    // background: #fff;
    border-bottom: solid 2px #fff;
  }
}


// ionic style overwride
.swiper-container {
  height: 100%;
  position: absolute;
  top: 60px;
}
.swiper-wrapper {
  height: 100%;
}
.slide-zoom {
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 180px;
}
.swiper-slide {
  overflow-y: scroll;
}
.swiper-slide.smooth-scroll {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.swiper-slide::-webkit-scrollbar {
  display: none;
}
