<tripper-header (slide)="slideTo($event)"></tripper-header>

<div class="timeline-contents">
  <ion-slides (ionSlideDidChange)="slideChange()">
    <ion-slide *ngFor="let list of myLists" [class.smooth-scroll]="smoothScroll">
      <div class="next-tweet-loading" [class.getting-next-now]="isGettingNextTweet[list.index]">
        <div class="next-tweet-loading-icon" [class.loading-icon-spin]="nextLoadingSpin[list.index]"></div>
      </div>
      <div class="loading-icon" *ngIf="listService.getListTweets()[list.index].tweets.length === 0 && !notFoundTweets[list.index]"></div>
      <!-- <div *ngIf="listService.getListTweets()[list.index].tweets.length !== 0" style="margin-top: 50px">
        <button ion-button (click)="getData()">getData</button>
        <button ion-button (click)="removeLists()">clear lists storage.</button>
      </div> -->
      <tweet *ngFor="let tweet of listService.getListTweets()[list.index].tweets" [tweet]="tweet" (expandMedia)="expandMedia($event)"></tweet>
      <div class="not-found-tweet-msg" *ngIf="notFoundTweets[list.index]">
        <p>ツイートが見つかりません</p>
      </div>
      <div *ngIf="listService.getListTweets()[list.index].tweets.length !== 0 && !notFoundTweets[list.index]"
           class="next-tweet-loading getting-next-now">
        <div class="next-tweet-loading-icon loading-icon-spin"></div>
      </div>
    </ion-slide>
  </ion-slides>
</div>

<filter-capsule-button (click)="openFilterPopup()"></filter-capsule-button>

<page-down-button (click)="scrollBottom()"></page-down-button>
<page-up-button (click)="scrollTop()"></page-up-button>

<ng-container *ngIf="isShowExpandMedia">
  <media-popup [url]="mediaUrl" [type]="mediaType" (close)="closeExpandMedia()"></media-popup>
</ng-container>

<div class="filter-popup" [ngClass]="{'filter-popup-active':isOpenFilter}">
  <div class="filter-item" [ngClass]="{'active':myLists.length>0 && activeFilters[listService.getActiveList().index] === 'all'}">
    <span (click)="changeFilter(filterService.FILTER_ITEM.ALL)">All</span>
  </div>
  <div class="filter-item" [ngClass]="{'active':myLists.length>0 && activeFilters[listService.getActiveList().index] === 'favorites'}">
    <span (click)="changeFilter(filterService.FILTER_ITEM.FAVORITES)">Favorites</span>
  </div>
  <div class="filter-popup-close-button" (click)="closeFilterPopup()">
    <ion-icon name="close"></ion-icon>
  </div>
</div>
