@import '../../variables';
@import '../../mixin';

@mixin capsule-edge {
  content: '';
  display: block;
  height: $capsule-height;
  width: $capsule-height / 2;
  background: $capsule-color;
}

filter-capsule-button {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  width: $capsule-width;
  z-index: $z-filter-capsule;
}

.capsule-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    @include capsule-edge();
    border-radius: $capsule-height 0 0 $capsule-height;
  }
  &:after {
    @include capsule-edge();
    border-radius: 0 $capsule-height $capsule-height 0;
  }
}

.capsule-button {
  @include font(12px, #fff, 700);
  display: inline-block;
  height: $capsule-height;
  width: $capsule-width - $capsule-height;
  padding: 0;
  background: $capsule-color;
  letter-spacing: 2px;
}
