@import '../../variables';
@import '../../mixin';

page-up-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 75px;
  height: $capsule-height;
  width: $capsule-height;
  border-radius: 50%;
  background: $capsule-color;
  cursor: pointer;
  z-index: $z-filter-capsule;
  ion-icon, i {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
  }

  display: none;
}
