@import '../../variables';
@import '../../mixin';

div p span img {
  margin: 0;
  padding: 0;
}

tweet {}

.tweet-wrapper {
  display: flex;
  padding: 8px 15px 10px 10px;
  border-bottom: solid 0.5px $gray-4;
}

.user-profile-img {
  flex-basis: 50px;
  flex-shrink: 0;
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

.content {
  margin-left: 10px;
  width: 100%;
}

.tweet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .user-info {
    @include font(12px, $gray-1, 400);
    display: inline;
    width: 215px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
  }
  .user-name {
    @include font(15px, $black-1, 500);
    line-height: 15px;
  }
  .user-screen-name {
    @include font(15px, $gray-1, 500);
    margin-left: 1.5px;
    line-height: 15px;
  }
  .created-at {
    @include font(12px, $gray-2, 500);
    text-align: right;
  }
}

.tweet-container {
  margin-top: 3px;
  text-align: left;
  line-height: 17px;
  p, span {
    @include font(15px, $black-1, 400);
    text-align: left;
    white-space: pre-wrap;
  }
  .link-text {
    color: $link;
    cursor: pointer;
  }
  .tweet-image-grid {
    display: grid;
    grid-template-rows: 84px 5px 84px;
    grid-template-columns: 143.5px 5px 143.5px;
    margin-top: 10px;
    border-radius: 5px;
    border: solid $gray-4 0.5px;
    overflow: hidden;
  }
  .tweet-image {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
  .tweet-image-grid.grid-1 {
    .grid-item-1 {
      grid-row: 1 / 4;
      grid-column: 1 / 4;
    }
  }
  .tweet-image-grid.grid-2 {
    .grid-item-1 {
      grid-row: 1 / 4;
      grid-column: 1 / 2;
    }
    .grid-item-2 {
      grid-row: 1 / 4;
      grid-column: 3 / 4;
    }
  }
  .tweet-image-grid.grid-3 {
    .grid-item-1 {
      grid-row: 1 / 4;
      grid-column: 1 / 2;
    }
    .grid-item-2 {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
    }
    .grid-item-3 {
      grid-row: 3 / 4;
      grid-column: 3 / 4;
    }
  }
  .tweet-image-grid.grid-4 {
    .grid-item-1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
    .grid-item-2 {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
    }
    .grid-item-3 {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }
    .grid-item-4 {
      grid-row: 3 / 4;
      grid-column: 3 / 4;
    }
  }
}

.tweet-footer {
  display: flex;
  margin-top: 13px;
  margin-right: 5px;
  justify-content: flex-end;
  .favo-content {
    display: flex;
    align-items: center;
    .favo-icon-wrapper {
      position: relative;
      height: 20px;
      width: 20px;
    }
    .favo-icon {
      position: absolute;
      top: -15.5px;
      left: -13px;
      width: 50px;
      height: 50px;
      background: url(../assets/imgs/web_heart_animation.png) no-repeat;
      background-position: 0 0;
      background-size: auto 50px;
      cursor: pointer;
      pointer-events: none;
    }
    .favo-icon.is-favo {
      background-position: -1400px 0;
      -webkit-transition: background 1s steps(28);
      transition: background 1s steps(28);
    }
  }
  .favo-count {
    @include font(12px, $gray-1, 500);
    margin-left: 3px;
  }
  .favo-count.is-favo {
    color: $red;
  }
}

.icon.icon-ios.icon-bold {
  font-weight: bold;
}
