<!-- Generated template for the TweetComponent component -->
<div class="tweet-wrapper">
  <div class="user-profile-img">
    <img [attr.src]="tweet.user.profile_image_url" alt="user-profile-image">
  </div>
  <div class="content">
    <div class="tweet-header">
      <p class="user-info">
        <span class="user-name">{{tweet.user.name}}</span><span class="user-screen-name">@{{tweet.user.screen_name}}</span>
      </p>
      <!-- TODO: create custom pipe. 今日だったら時間、今日じゃなかったら日時, AM/PM -->
      <span class="created-at">{{ tweet.created_at | date: 'MM/dd hh:mm' }}</span>
    </div>
    <div class="tweet-container">
      <ng-container *ngFor="let tweetText of tweetTextList">
        <span *ngIf="tweetText.type === TEXT_TYPE.TEXT">{{tweetText.text}}</span>
        <span *ngIf="tweetText.type === TEXT_TYPE.URL" class="link-text" (click)="openBrowser(tweetText.text)">{{tweetText.text}}</span>
        <span *ngIf="tweetText.type === TEXT_TYPE.HASHTAG" class="link-text" (click)="openHashtag(tweetText.text)">#{{tweetText.text}}</span>
        <span *ngIf="tweetText.type === TEXT_TYPE.USER_MENTION" class="link-text" (click)="openUser(tweetText.text)">@{{tweetText.text}}</span>
        <div *ngIf="tweetText.type === TEXT_TYPE.MEDIA" class="tweet-image-grid link-text" [ngClass]="getMediaGridClassName()">
          <div
            *ngFor="let media of mediaList; let i = index"
            class="tweet-image" [ngClass]="getGridItemClassName(i)"
            [style.background-image]="getBackgroundImageStyle(media.media_url)"
            (click)="clickMedia(media)">
          </div>
        </div>
      </ng-container>
    </div>
    <div class="tweet-footer">
      <div class="favo-content" (click)="postFavorites()">
        <div class="favo-icon-wrapper">
          <div class="favo-icon" [ngClass]="{'is-favo': tweet.favorited}"></div>
        </div>
        <span class="favo-count" [ngClass]="{'is-favo': tweet.favorited}">{{tweet.favorite_count}}</span>
      </div>
    </div>
  </div>
</div>
