// color
// $trip-primary: #33C0FF;
// $trip-primary: #FFB134;
$trip-primary: #ffa009;
$trip-primary-soft: #FFE0AD;
$black-1: #333333;
$gray-1: #A0A0A0;
$gray-2: #C0C0C0;
$gray-3: #D0D0D0;
$gray-3-5: #D5D5D5;
$gray-4: #E0E0E0;
$red: #F4003F;
$link: #0C74CF;
$capsule-color: rgba(255, 160, 9, 0.98);
$popup-background: rgba(255, 164, 18, 0.99);

// z-index
$z-expand-image: 110;
$z-filter-popup: 108;
$z-filter-capsule: 105;
$z-header: 100;
$z-timeline: 50;

$capsule-height: 35px;
$capsule-width: 100px;
